<div style="color: white;">

<%= form_with scope: @service, url: services_create_path, html: { autocomplete: "off" } do |form| %>
   
    <div>
    <%= form.label :category %>
    <%= form.select :category, ['Dance', 'Sing', 'Escort'] %><br>
    </div>

    <div style="align-items: space_between; width: 200px">
    <%= form.label :service_name %>
    <%= form.text_field :service_name %><br>
    </div>

    <div style="align-items: space_between; width: 200px">
    <%= form.label :"Professional fee" %>
    <%= form.text_field :rate_hour %><br>
    </div>

    <div style="align-items: space_between; width: 200px">
    <%= form.label :"Duration" %>
    <%= form.text_field :no_hour %><br>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 20px;">
    <%= form.submit %>
    </div>

<% end %>

</div>