<div class="opus-ktv" style="height:100vh; width: 100%;">

  <div style="display:flex;">
    <div class="side-bar-menu">
      <% if session[:client_token].present? %>
        <%= render "navigationc", client_id: @client.id %>
      <% elsif session[:performer_token].present? %>
        <%= render "navigationp", performer_id: @performer.id %>
      <% end %>
    </div>

    <div class="right" style="border: 2px solid white; display: flex; align-items: center; justify-content: center;">
      <div class="neon-container">
        <div class="crab">Sweet</div>
        <div class="flux">Vibe</div><br>
        <div class="neon">Baby</div>
      </div>

      <div style="color: white; z-index: 9999999;">
        <table style="background-color: #0e1538; padding: 10px; border-radius: 20px; border: 2px solid white;">
          <thead>
            <tr>
              <th style="width: 100px;">Client</th>
              <th style="width: 100px;">Performer</th>
              <th colspan="3" style="width: 200px;">Service</th>
              <th style="width: 100px;">Status</th>
              <th style="width: 100px;">Details</th>
              <th colspan="2" style="width: 150px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td style="text-align: center;"><%= booking.client_name %></td>
                <td style="text-align: center;"><%= booking.performer_name %></td>
                <td style="text-align: center;"><%= booking.service_name %></td>
                <td style="text-align: center;"><%= booking.duration %></td>
                <td style="text-align: center;"><%= booking.fee %></td>

                <td style="text-align: center; border-radius: 20px; height: 50px;
                <% if booking.performer_accepted == 'Accepted' %>background-color: green;
                <% elsif booking.performer_accepted == 'Rejected' || 'Cancelled' %>background-color: red;<% end %>">
                <%= booking.performer_accepted %></td>

                <td style="text-align: center"><%= link_to "Details", bookings_details_path(booking.id) %></td>
                <td colspan="2" style="display: flex; width: fit-content; align-items: center; justify-content: center;">                  
                  <% if session[:performer_token] %>
                    <% if booking.performer_accepted == "pending" %>                    
                      <%= button_to "Accept", bookings_accept_path(booking.id), class:"button" %>
                      <%= button_to "Reject", bookings_reject_path(booking.id), class:"button" %>                    
                    <% end %>
                  <% elsif session[:client_token] %>
                    <% if booking.performer_accepted == "pending" %>
                      <%= button_to "Cancel", bookings_cancel_path(booking.id), class:"button" %>
                    <% end %>
                  <% end %>                 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</div>