

<h1 class="nav-flicker" style="font-size: 12px; height: 50vh;">
    <p style="color: pink;">Stage Name: <%= @performer.stage_name %></p><br>
    Age: <%= @performer.age %><br>
    Gender: <%= @performer.gender %><br>
    Contact Number: <%= @performer.contact_number %><br>
    Location: <%= @performer.location %><br>
    Availabile: <%= @performer.availability %><br>
    Ratings: <%= @performer.ratings %><br>
</h1>