<% if @photos.present? %>  

<div class="container">
	<div class="box" style="--i:0;">
		<i></i>
		<div class="content">
        <%= image_tag @photos[0].variant(resize_to_fill: [1000, 1000]) %>				
		</div>
	</div>
</div>

<% end %>

<div style="color: white;">
<%= form_with scope: @client, url: clients_update_path, html: {autocomplete: "off"} do |form| %>

    <%= form.label :email%>
    <%= @client.email %><br>

    <%= form.label :nick_name %>
    <%= form.text_field :nick_name %><br>

    <%= form.label :contact_number %>
    <%= form.text_field :contact_number %><br>

    <%= form.label :age %>
    <%= form.text_field :age %><br>

    <%= form.label :gender %>
    <%= form.collection_select :gender, %w[male female], :to_s, :humanize, { prompt: 'Select Gender' } %><br>

    <%= form.label :location %>
    <%= form.text_field :location %><br>


    <%= form.file_field :photos, multiple: true %>

    <%= form.submit %>
<% end %>
</div>