Show Performer Details

<%= render "performer" %>


Services Available
<%= form_with scope: @booking, url: bookings_create_path, html: { autocomplete: "off" } do |form| %>
<table>
    <thead>
        <tr>
            <th>category</th>
            <th>service name</th>
            <th>rate per hour</th>
            <th>no. of hour/s</th>
        </tr>
    </thead>
    <tbody>
    <% @service.each do |service| %>
        <tr>            
            <td><%= service.category %></td>
            <td><%= service.service_name %></td>
            <td><%= service.rate_hour %></td>
            <td><%= form.radio_button :service_id, service.id %>
        <tr>    
    <% end %>    
    </tbody>
    
</table>
<%= form.submit "Book Now" %>
<% end %>

