<div class="opus-ktv" style="height:100vh; width: 100%;">

    <div style="display:flex;">
        <div class="side-bar-menu">
            <%= render "navigation" %>
        </div>

        <div class="right">
                <div class="neon-container">			
                    <div class="crab">Sweet</div>
                    <div class="flux" style="font-size: 80px;">Vibe</div><br>
                    <div class="neon" style="font-size: 60px;">Baby</div>      
                </div>     

                <div class="neon-text" style="position:fixed;">
					<div class="lightbar"></div>
					<div class="topLayer"></div>
					<h2>MaMaママさん日本のKTV</h2>
				</div>                

                <div style="display: flex; margin-top: 80px;">
                
					<% @performer.photos.each do |photo| %>
						<div class="container" style="margin: 10px; border: 2px solid red;">
							<div class="box" style="--i:0;">
								<i></i>
                                <div class="content">										
                                    <%= image_tag photo.variant(resize_to_fill: [200, 300]) %>
                                </div>
                            </div>
                        </div>
					<% end %>
                    
				</div>

            <div class="table-container">
                <div class="performer-display-details">
                    <%= render "performer" %><br>
                </div>                

                <%= form_with scope: @booking, url: bookings_create_path, html: { autocomplete: "off" } do |form| %>
                    <table class="table">            
                        <thead>                
                            <tr>
                            <th colspan="4">Special Menu</th>             
                            </tr>
                        </thead>

                        <tbody>
                            <% @service.each do |service| %>
                                <tr>            
                                    <td><%= service.category %></td>
                                    <td><%= service.service_name %></td>
                                    <td><%= service.rate_hour %></td>
                                    <td><%= form.radio_button :service_id, service.id %></td>                           
                                </tr>                      
                            <% end %>
                            <tr>
                                <td colspan="4" style="text-align: center;"><%= form.submit "Book Now" %></td>
                            </tr>
                            
                        </tbody>                
                    </table>            
                <% end %>

                
            </div>
        </div>
    </div>        
</div>
