<div class="opus-ktv" style="height:100vh; width: 100%;">

    <div style="display:flex;">
        <div class="side-bar-menu">
            <%= render "navigation" %>
        </div>

        <div class="right">
                <div class="neon-container">			
                    <div class="crab">Sweet</div>
                    <div class="flux" style="font-size: 36px">Sweet</div><br>
                    <div class="neon" style="font-size: 63px">Baby</div>
                </div>     
                

                <div style="display: flex; align-items: center; justify-content: center; border: 20px solid red; height: 100vh;">
                    <div class="content" style="display: flex; flex-direction: column;">
                        <div class="box" style="--i:0;">
                            <i></i>
                        <% @performer_photos.each do |photo| %>
                            <div"><%= image_tag photo.variant(resize_to_fill: [200, 300]) %></div>
                        <% end %>
                        </div>
                    </div>
                </div>

            <div class="table-container">
                <div class="performer-display-details">
                    <%= render "performer" %><br>
                </div>                

                <%= form_with scope: @booking, url: bookings_create_path, html: { autocomplete: "off" } do |form| %>
                    <table class="table">            
                        <thead>                
                            <tr>
                            <th colspan="4">Special Menu</th>             
                            </tr>
                        </thead>

                        <tbody>
                            <% @service.each do |service| %>
                                <tr>            
                                    <td><%= service.category %></td>
                                    <td><%= service.service_name %></td>
                                    <td><%= service.rate_hour %></td>
                                    <td><%= form.radio_button :service_id, service.id %></td>                           
                                </tr>                      
                            <% end %>
                            <tr>
                                <td colspan="4" style="text-align: center;"><%= form.submit "Book Now" %></td>
                            </tr>
                            
                        </tbody>                
                    </table>            
                <% end %>

                
            </div>
        </div>
    </div>        
</div>
