<div>

<h1 class="nav-flicker" style="display:flex; flex-direction: column;">
  <%= link_to "Hom<span class=\"delay1\">e</span>".html_safe, performers_dashboard_path %>
  <%= link_to "Pr<span class=\"delay1\">o</span>file".html_safe, performers_edit_path %>
  <%= link_to "Talent<span class=\"delay1\">s</span>".html_safe, services_show_path %>
  <%= link_to "Activi<span class=\"delay2\">t</span>y".html_safe, bookings_show_path %>
  <%= link_to "Lo<span class=\"delay3\">g</span>out".html_safe, users_home_path %><br>
</h1>

    <div style="color: white; position: fixed; left: 0; bottom: 0;">
		<h4>Welcome, <%= @performer.stage_name %></h4>
			<p>Age: <%= @performer.age %></p>
			<p>Gender: <%= @performer.gender %></p>
		</div>
    
</div>
