Performer Dashboard

<%= link_to "Profile", performers_edit_path %>
<%= link_to "Requests", bookings_request_path %>
<%= link_to "Talents", services_show_path %>
<%= link_to "Logout", users_home_path %><br>

<%= link_to performers_edit_path(@performer) do %>
    <h4>Nickname:<%= @performer.stage_name %></h4>
    <p>Age: <%= @performer.age %></p>
    <p>Gender: <%= @performer.gender %></p>
<% end %>

<% @client.each do |client| %>
    <div style="background-color: rgb( 150, 150, 150)">
    <%= link_to performers_show_path(client) do %>
        <h4><%= client.nick_name %></h4>
        <p><%= client.age %></p>
        <p><%= client.gender %></p>   
    <% end %>
    </div>    
<% end %>



