<div class="club-stage" style="height:100vh; width: 100%;">	

	<div style="display:flex;">
		<div class="side-bar-menu">
			<%= render "navigation" %>		
		</div>	

		<div class="right" style="margin-left: 390px;">
				<div class="neon-container">
					<div class="neon">Guest </div>
					<div class="flux">Show </div>
					<div class="crab">Time </div>
				</div>

				<div class="neon-text" style="position:fixed;">
					<div class="lightbar"></div>
					<div class="topLayer"></div>
					<h2>MaMaママさん日本のKTV</h2>
				</div>

                <div style="display:flex; margin-top: 80px; width: 50vw;">
                <% if @performer.photos.present? %>
                    <% @performer.photos.each do |photos| %>
                        <div class="container-performer">
                            <div class="box-performer" style="--i:0;">
                                <i></i>
                                <div class="content">
                                    <%= image_tag photos.variant(resize_to_fill: [1000, 1000]) %>                    
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
                </div>
        
        </div>
    </div>
</div>






<%= form_with scope: @performer, url: performers_update_path, html: { autocomplete: "off"} do |form| %>
    
    <%= form.label :stage_name %>
    <%= form.text_field :stage_name %><br>

    <%= form.label :description %>
    <%= form.text_field :description %><br>

    <%= form.label :contact_number %>
    <%= form.text_field :contact_number %><br>

    <%= form.label :age %>
    <%= form.text_field :age %><br>

    <%= form.label :gender %>
    <%= form.text_field :gender %><br>

    <%= form.label :location %>
    <%= form.text_field :location %><br>

    <%= form.file_field :photos, multiple: true %>

    <%= form.submit %>

<% end %>