Performer Edit

<% if @photos.present? %>
    <div class="container">
        <div class="box" style="--i:0;">
            <i></i>
            <div class="content">
            <%= image_tag @photos[0].variant(resize_to_fill: [1000, 1000]) %>
                <h2>You<br><span>Give your best shot</span></h2>			
            </div>
        </div>
    </div>
<% end %>

<%= form_with scope: @performer, url: performers_update_path, html: { autocomplete: "off"} do |form| %>
    
    <%= form.label :stage_name %>
    <%= form.text_field :stage_name %><br>

    <%= form.label :description %>
    <%= form.text_field :description %><br>

    <%= form.label :contact_number %>
    <%= form.text_field :contact_number %><br>

    <%= form.label :age %>
    <%= form.text_field :age %><br>

    <%= form.label :gender %>
    <%= form.text_field :gender %><br>

    <%= form.label :location %>
    <%= form.text_field :location %><br>

    <%= form.file_field :photos, multiple: true %>

    <%= form.submit %>

<% end %>