<div style="color: white;">
<%= form_with scope: @performer, url: performers_login_submit_path, html: {autocomplete: "off"} do |form|%>
    <%= @performer %>

    <div class="label"><%= form.label :email %><br></div>
        <%= form.text_field :email %><br>
    
        <%= form.label :password %><br>
        <%= form.password_field :password %><br>
    
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 30px;">
        <%= form.submit "Login" %>    
        </div>
    <% end %>
    </div>