<div style="color: white; width: 210px; height: 350px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <%= form_with scope: @performer, url: performers_create_path ,  method: 'post', html: {autocomplete: "off"}  do |form| %>



    <div class="label">
      <%= form.label :email %>
      <div class="field"><%= form.text_field :email %></div>
    </div>

          <div class="errors">
                <% @performer.errors[:email].each do |error| %>
                  <%= error %>
                <% end %>
          </div>

    <div class="label">
      <%= form.label :password %>
      <div class="field"><%= form.password_field :password %></div>
      </div>
    
      <div class="errors">
                <% @performer.errors[:password].each do |error| %>
                  <%= error %>
                <% end %>
            </div>

    <div class="label">
      <%= form.label :password_confirmation %>
      <div class="field"><%= form.password_field :password %></div>
      </div>

      <div class="errors">
                <% @performer.errors[:password].each do |error| %>
                  <%= error %>
                <% end %>
            </div>


      <div class="submit">
        <%= form.submit %>
      </div>

  <% end %>
</div>

