<!DOCTYPE html>
<html>
  <head>
    <title>LP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- font-family: 'Noto Sans JP', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'neon_button', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'neon_text', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'neon_signage', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'image_portrait', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
